# Jupyter Notebooks
Machinehack R6.ipynb
Machinehack R7.ipynb
Machinehack R8.ipynb
Machinehack_1 R2.ipynb
Machinehack_1 R3.ipynb
Machinehack_1 R4.ipynb
Machinehack_1 R5.ipynb
Machinehack_R1.ipynb

# Documentation
README.md

# CSV Data Files
submission1.csv
submission2.csv
submission3.csv
submission4.csv
Test.csv
Train.csv